@font-face {
    font-family: chana;
    src: url("/intro/chaney-ultraextended-webfont.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100vh;
}


#main{
    width: 100%;
    min-height: 100vh;
}


.loader{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    animation: pulse 3s;
    white-space: nowrap;  
  overflow: hidden;     
  text-overflow: ellipsis; 
}


.zoom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-7deg);    
    font-size: 18vw;
    font-family: chana;
    -webkit-text-stroke-width: 0.09vh;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-fill-color: transparent;
    font-weight: 201;
}

.loader h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-7deg);
    font-size: 6vw;
    font-family: chana;
    color: #ffffff;
}

.loading{
    left: 50%;
    width: 50%;
    bottom: -65%;
    height:10px;
    background-color: #fff;
    position: relative;
    transform: translate(-50%, -50%)  rotate(-7deg);
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
}

.loading::after{
    content: "";
    position: absolute;
    bottom: 10%;
    height: 100%;
    border-radius:4px;
    animation: load 3s;
}


@keyframes load {
  0%   { width: 0;   background: #D84CAB; }
  25%  { width: 25%; background: #000000; }
  50%  { width: 50%; background: #A855F7; }
  75%  { width: 75%; background: #EC4899; }
  100% { width: 100%; background: #121225; }
}



@keyframes pulse {
  0%   { background-color: #D84CAB; } /* Cyan */
  25%  { background-color: #000000; } /* Indigo */
  50%  { background-color: #8B5CF6; } /* Violet */
  75%  { background-color: #D946EF; } /* Magenta */
  100% { background-color: #121225; } /* Near black */
}
